.btn1 {
    align-items: center;
    background-color: #ff9f00;
    margin-right: 23px;
    border-radius: 9px;
}



.btn2 {
    align-items: center;
    background-color: #ff9f00;
    margin: 25px;
    border-radius: 9px;
}





.btn3 {
    align-items: center;
    background-color: #ff9f00;
    margin: 25px;
    border-radius: 9px;
}